body {
	font-family: "Monaco";
}

#list-of-items{
    width: 300px;
    height: 500px;
    border-style: solid;
    border-width: 5px;
    overflow:hidden;
    font-size:small;
}

#list{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

#circle{
    padding-left: 75px;
}
