body {
	font-family: "Courier";
	max-width: 640px;
}

a, a:visited, a:hover, a:active {
    text-decoration: none;
	color: black;
}

.circle {
	border-radius: 50%;
	border: 1px solid black;
	text-align: center;
}

.inner {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#help {
	width: 2em;
	height: 2em;
}

#big {
	width: 10em;
	height: 10em;
	clear: both;
	margin-right: auto;
	margin-left: auto;
}
